body{
    margin: 0;
    padding: 0;
    background: black;
    color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 10%;

}

.cabecalho {
    display: flex;
    position: relative;
    background-color: rgb(56, 56, 56);
    padding: 20px;
    margin-left: -5px;
    justify-content: space-between;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.562);
}


.card .ifal {
    height: 130px;
    width: 120px;
    border: none;
}

.card img {
    height: 250px;
    width: 180px;
    margin-top: 20px;
    margin-left: 40px;
    border: 1px solid black;
};

.card .cabecalho {
    background-color: blue;
    width: 200px;
    position: absolute;
    height: 200px;
}

.card .turma {
    color: aquamarine;
    margin-bottom: -10px;
    font-size: 20px;
}

.cabecalho .nome {
    color: rgb(255, 255, 255);
    flex-basis: 100%;
    font-size: 30px;
}

.card {
    min-width: 700px;
    height: 500px;
    /* border: 2px solid red; */
    margin: 40px;
}

.corpo {
    display: flex;
    color: black;
    background: white;
    height: 310px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.info {
    margin-top: 80px;
    margin-left: 50px;
}

.info .label {
    color: rgba(0, 174, 255, 0.925);
    margin-bottom: -5px;
}

.info .valor {
    color: rgb(0, 109, 160);
    font-weight: 400;
    border-bottom: 1.5px solid rgba(0, 174, 255, 0.616);
    width: 350px;
}




